{% extends 'base.html.twig' %}

{% block title %}Hello Manager!{% endblock %}

{% block style %}{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Hello Mr Manager! ✅</h1>

        <a href="{{ path('check_agents') }}">Check the agents</a><br>
        <a href="{{ path('add-agent') }}">Add new agent</a><br>
        <a href="{{ path('check_tickets') }}">See all tickets</a><br>


    </div>

{% endblock %}