{% extends 'base.html.twig' %}

{% block title %}Hello Customer!{% endblock %}

{% block style %}{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Hello Customer! ✅</h1>

        <h2>Create your ticket here</h2>
        <p><a href="{{ path('customer') }}">Go back to homepage instead</a></p>

        {{ form(new_ticket_form) }}

    </div>

    <div>
        {{ message }}
    </div>
{% endblock %}